package templates


templ pagazo(buttonType string, buttonText string) {
  <div class="bg-amber-200 rounded-xl border-solid border-2 border-red-700 mx-auto shadow-2xl p-3 m-3 max-w-prose min-w-72 max-h-max size-fit text-center">
    <button type={ buttonType } class="font-merienda text-red-600 text-center">{ buttonText }</button>
  </div>
}
